:root {
    --primary: rgba(243, 245, 245, 0.965);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding:20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--primary);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.logo {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background-color: #F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #000000;
    border: 3px solid rgb(201, 195, 163);
}