:root {
    --primary: rgba(243, 245, 245, 0.965);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding:20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--primary);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.logo {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background-color: #F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #000000;
    border: 3px solid rgb(201, 195, 163);
}

h1,
h3 {
    color: rgb(35, 111, 111);
}


h3 {
    text-align: center;
}


.btn {
    border-radius: 8px;
    cursor: pointer;
    padding: 5px 12px;
    font-size: 17px;
    background-color: rgba(4, 86, 86, 0.47);
    color:aliceblue
}

.btn:hover {
    background-color: rgb(126, 130, 133);
}