:root {
    --primary: rgba(243, 245, 245, 0.965);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding:20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--primary);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}